<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <br>
    <br>
    <br>
    <br>
    <mat-card-title>Qualified Loan Amount</mat-card-title>
    <mat-card-subtitle class="mat-body-1">Based on your credit score, you qualify to borrow upto KES: 10,000</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<h1>Welcome to the Starter Page</h1>
<p>This is the content of the starter page.</p>
